{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block body %}
<div class="se-pre-con">
  <div class="wrapper">
      <div class="cssload-loader"></div>
  </div>
  </div>

  <section id="banner">
      <ul class="bxslider">
          <li>
              <img src="{{ '/images/kcpb.png'|url }}">
          </li>
      </ul>
  
  
  </section>
  
  <section class="eventsession">
      <div class="container">
          <div class="row">
              <div class="col-md-8 col-md-offset-2">
                  <div style="margin-top:10px; margin-bottom: 20px">
                      <h2>川崎シビックパワーバトル2019
                      <br><br><small><span style="color: red">2019年12月15日(日)に開催決定</span></small></h2>
                  </div>
                  <div>
                      <ul style="list-style:disc;">
                        <li><b>タイトル：</b>川崎シビックパワーバトル2019</li>
                        <li><b>開催日時：</b>2019年12月15日 (日) 13:00 〜 15:00</li>
                        <li><b>発表者：</b>各チームが川崎の魅力や課題について発表します</li>
                        <li><b>観覧者：</b>100名程度 (観覧は無料で参加自由です)</li>
                        <li><b>会場：</b>JR川崎駅北改札の上（<a href="https://www.atre.co.jp/store/kawasaki">アトレ川崎4階</a>）にあるエントランス広場「コモレビテラス」</li>
                        <li><b>所在地：</b><a href="http://umap.openstreetmap.fr/ja/map/map_275789#16/35.5321/139.6977">〒210-0007 神奈川県川崎市川崎区駅前本町26-1</a></li>
                        <li><b>連絡先 E-mail：</b>info@openkawasaki.org</li>
                        <li><b>主催：</b>オープン川崎 / Code for Kawasaki</li>
                        <li><b>Twitterタグ：</b>#cpbjp #cpbjp_kw</li>
                    </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
  
  <section class="info">
      <div class="container">
          <div class="row">
              <div class="col-md-12"  style="margin-top:20px; margin-bottom:20px">
                  <a href="https://www.facebook.com/cpbkw/" class="fb"><i class="fa fa-facebook-square" aria-hidden="true"></i>Facebook</a>
                  <a href="https://twitter.com/Kawasaki_CPB" class="twtr"><i class="fa fa-twitter-square" aria-hidden="true"></i>Twitter</a>
                  <a href="https://openkawasaki.connpass.com/event/" class="drbl"><i class="fa fa-calendar" aria-hidden="true"></i>イベント申込</a>
              </div>
          </div>
      </div>
  </section>
 
  <div class="description">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <article>
                      <h2>「シビックパワーバトル」とは</h2>
                      <p>
                          近年では市民がまちを愛する気持ち（シビックプライド）が、まちの継続的な発展には重要だといわれています。<br>
                          シビックパワーバトルは、主にオープンデータを活用し、今まで埋もれていた、または知らなかったまちの魅力を発掘し、
                          地域の魅力発信を目的としたイベントです。
                          市民や団体、企業にくわえて自治体がバトルのために協力しあうことで、 あらたな魅力発信の仕組みづくりに繋げていきます。
                      </p>
                      <h2>「川崎シビックパワーバトル」とは</h2>
                      <p>
                          「川崎シビックパワーバトル」は、川崎市を南北の地域チームにわけて、主にオープンデータを活用し、今まで埋もれていたまたは知らなかった「まちの魅力」を発掘し地域の魅力発信を目的としたプレゼン形式で対決するチーム対抗戦のイベントです。
                      </p>
                      <p>
                          イベントでは、発表者が「まちの魅力」をプレゼンテーション形式で発表してバトルをします。イベントに参加してあなたの好きな街を応援してください
                      </p>
                  </article>
              </div>
          </div>
      </div>
  </div>
  
  
  <div class="onemap" id="conact">
  <div id="map">
  </div>
  
  </div>
  
  
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-lg-6 col-sm-6 col-md-6">
                  <article>
                      <h3><b>○ 運営・協力・後援</b></h3>
                      <ul style="list-style-type: none">
                          <li><a href="http://openkawasaki.org/">オープン川崎/Code for Kawasaki</a></li>
                          <li><a href="http://shinjo.machina-college.org/">シンジョーまちなカレッジ</a></li>
                          <li><a href="http://urbandata-challenge.jp/">アーバンデータチャレンジ2018実行委員会</a></li>
                          <li><a href="http://www.city.kawasaki.jp/170/page/0000106163.html">平成31年度川崎市都市ブランド推進事業</a></li>
                          <li><a href="https://www.civicpowerbattle.org/">シビックパワーアライアンス実行委員会</a></li>
                      </ul>
                  </article>
              </div>
              
              <div class="col-lg-6 col-sm-6 col-md-6">
                  <div class="max350">
                      <p>Free Template by <a href="http://freetemplates.pro/">FreeTemplates.pro</a></p>
                  </div>
              </div>
              
              
          </div>
      </div>
  </footer>
  
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="{{ '/js/jquery.bxslider.js'|url }}"></script>
  <script src="{{ '/js/fixed-responsive-nav.js'|url }}"></script>
  <script src="{{ '/js/waypoints.min.js'|url }}"></script>
  <script src="{{ '/js/script.js'|url }}"></script>
  
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"></script>
  <script type="text/javascript">
  
      var map = L.map('map').setView([35.576917, 139.642239], 11);
  
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(map);
  
      $.getJSON('/data/kawasaki.geojson', function (data) {
          L.geoJson(data,{
              "color": "#666666",
              "weight": 2,
              "opacity": 1.0
          }).addTo(map);
      });
  </script>  

{% endblock %}
